body {
    background: #f5f5f5;
}

.f12px {
    font-size: 12px;
}

.f14px {
    font-size: 14px;
}

.f16px {
    font-size: 16px;
}

.nameAndEmail {
    margin-bottom: 20px;
}

ion-content.badge-scroll {
    bottom: 50px;
}

.members-page ion-content.badge-scroll {
    top: 80px;
}

.badge-wall-page ion-content.badge-scroll {
    bottom: 150px;
}

.user-detail-page .user-detail-item.item.item-avatar {
    border: none;
}

.user-detail-page .scroll {
    padding-right: 18px;
}

.badge-wall-page .avatar {
    height: 80px;
}

.nodata.card {
    min-height: 90px;
    text-align: center;
}

.overflow-scroll .scroll {
    /*height: auto !important;*/
}

section.record {
    /*padding-bottom: 148px;*/
}

.badge-me-page {

}

.badge-me-page .item.item-input {
    margin-left: 0;
}

.badge-me-page .item-content {
    padding: 10px;
}

div.nine-grid {
    font-size: 0;
    line-height: 0;
}

div.nine-grid .col-33 {
    display: inline-block;
}

div.nine-grid .col-33:nth-child(3n + 1) {
    margin-left: 0;
}

div.nine-grid .col-33:nth-child(3) {
    margin-top: 0;
}

div.nine-grid .col-33 img {
    width: 39px;
    margin: 0 auto;
    display: block;
}

div.nine-grid .col-33 div.badge-name {
    padding-top: 10px;
    font-size: 14px;
}

.item-avatar img.badge-image {
    width: 35px;
}
