<ion-view view-title="Detail" class="user-detail-page" cache-view="false">
    <ion-content class="padding" scroll="false">
        <section>
            <div class="item item-avatar user-detail-item">
                <img ng-src="{{MDC.member.avatar}}">
                <div class=" user-info">
                    <div class="f16px">
                        {{MDC.member.name}}
                    </div>

                    <div class="button-bar padding-top " style="width: 60%">
                        <a class="button button-small" ui-sref="badge.members.detail.records({'id': MDC.member.userid })" ui-sref-active="active">收到 x {{MDC.member.badgeCount}}</a>
                        <a class="button button-small" ui-sref="badge.members.detail.badgeds({'id': MDC.member.userid })" ui-sref-active="active">发出 x {{MDC.member.badgedCount}}</a>
                    </div>
                </div>
            </div>
            <ion-nav-view name="action"></ion-nav-view>
        </section>
    </ion-content>
</ion-view>

