<ion-view view-title="Home">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="BRC.memberList.search">
            </label>
        </div>

        <div class="list">
            <div ng-repeat="member in BRC.memberList | filter: BRC.memberList.search">
                <a class="item item-avatar" ui-sref="badge.members.detail.records({id: member.userid})">
                    <img ng-src="{{member.avatar}}">
                    <h2>{{member.name}}</h2>
                    <img src="images/badge.png"> x {{member.count}}
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>