<ion-view view-title="Badge Me" hide-nav-bar="false">
    <ion-nav-buttons side="right">
        <button class="button back-button buttons  button-clear header-item" ui-sref="badge.members">
            Home
            <i class="icon ion-ios-arrow-forward"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <form name="badegForm" ng-controller="BadgeFormCtrl" ng-submit="submit()">

            <div class="list">
                <div ng-repeat="badge1 in badgeList">
                    <ion-radio ng-model="badge.id" name="badge.id" value="{{badge1.id}}">{{badge1.name}}</ion-radio>
                </div>

                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="请输入你赠送此徽章的原因" name="comment" ng-model="comment">
                </label>
                <input ng-model="toUser" style="display: none;" title="" />
                <input ng-model="fromUser" style="display: none;" />
                <button class="button button-full button-positive" type="submit">
                    确定
                </button>
            </div>
        </form>

        <button ui-sref="badge.members">aaaaa</button>
    </ion-content>

</ion-view>

