<ion-view view-title="Members" class="members-page" cache-view="true">
    <ion-content on-release="MC.drag()">

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="MC.memberList.search" />
            </label>
        </div>

        <div class="list members-list">
            <div class="item row" ng-repeat="member in MC.memberList | filter:MC.memberList.search | limitTo: MC.limit">
                <div class="col col-20 item-avatar" ui-sref="badge.members.detail.records({id: member.userid})">
                    <img ng-src="{{member.avatar}}" />
                </div>
                <div class="col" ui-sref="badge.members.detail.records({id: member.userid})">
                    <h2>{{member.name}}</h2>
                    <div class="f12px">{{member.email}}</div>
                    <div class="f12px">{{member.mobile}}</div>
                </div>
                <div class="col col-25 text-right">
                    <button class="button button-block button-outline button-assertive" ui-sref="badge.members.detail.badgeme({id: member.userid})">Badge</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>