<ion-view view-title="User Detail" class="badge-wall-page" cache-view="false">
    <ion-content class="padding">
        <div class="avatar">
            <img ng-src="{{MDC.member.avatar}}" class="headImg">
            <div class="innerBlock">
                <div>
                    {{MDC.member.name}}
                </div>
                <div class="f12px">{{MDC.member.email}}</div>
                <div class="f12px">{{MDC.member.mobile}}</div>
            </div>
        </div>

        <ion-nav-view name="action"></ion-nav-view>

    </ion-content>
</ion-view>
