<ion-view view-title="{{member.name}}">
    <ion-content class="padding row">
        <div class="innerBlock fontsize12">
            <img ng-src="{{toUser.avatar}}" class="headImg" style="width: 60px; height: 60px">
            <div class="innerBlock">
                <div>
                    {{toUser.name}}
                    <a class="button button-small button-clear button-positive" href="#/all/details/badgeForm/{{toUser.id}}">
                        Badge
                    </a>
                </div>
                <p>{{toUser.email}}</p>
            </div>
        </div>

        <div class="list">
            <div ng-repeat="record in recordList">
                <a class="item item-avatar" href="">
                    <img src="images/badge.png">
                    <h2>{{record.fromUser}}</h2><h6>{{record.dateCreated}}</h6>
                    <p>{{record.comment}}</p>
                </a>

            </div>
        </div>
    </ion-content>
</ion-view>
