<ion-view view-title="Badge Wall" class="badge-wall-page">
    <ion-content class="padding">
        <div class="item item-avatar" ng-repeat="record in MRC.recordList">
            <img src="images/badge.png">
            <h2>{{record.fromUser}}</h2>
            <div class="f12px">{{record.dateCreated | date: 'yyyy-MM-dd HH:mm'}}</div>
            <p>{{record.comment}}</p>
        </div>

        <button class="button button-full button-balanced" ng-if="current != MRC.userId" ui-sref="badge.members.detail.badgeme({id: MRC.userId})">
            Badge
        </button>

        <button class="button button-full button-balanced" ng-if="current == MRC.userId" ui-sref="badge.roll">
            查看徽章榜 Badge Roll
        </button>

    </ion-content>
</ion-view>
