<ion-view view-title="Badge Wall" class="badge-wall-page">
    <ion-content class="padding " scroll="true">
        <section class="record">
            <div class="item item-avatar" ng-repeat="record in MRC.recordList">
                <img class="badge-image" ng-src="images/badge_{{record.badge.id}}.png">
                <p>{{record.comment}}</p>
                <div>
                    <span class="f12px">{{record.dateCreated | date: 'yyyy-MM-dd'}}</span>
                    <span class="f14px" ui-sref="badge.members.detail.records({id: record.fromUser.userid || record.fromUser})">{{record.fromUser.name || record.fromUser}}</span>
                </div>
            </div>

            <button class="button button-outline button-block button-assertive" ng-if="current != MRC.userid" ui-sref="badge.members.detail.badgeme({id: MRC.userid})">
                Badge
            </button>

            <button class="button button-outline button-full button-assertive" ng-if="current == MRC.userid" ui-sref="badge.roll">
                查看徽章榜 Badge Roll
            </button>
        </section>
    </ion-content>
</ion-view>
