<ion-view view-title="Badge Me" class="badge-me-page padding-right">
    <ion-content class="badge-me-content" scroll="true">
        <section class="record">
            <form ng-submit="MBMC.submit(MBMC_form)" name="MBMC_form" novalidate>
                <div class="list">
                    <ion-radio class="item item-avatar" ng-repeat="badge in MBMC.badgeList" ng-model="MBMC.form.badge" name="MBMC.form.badge" ng-value="badge.id" required>

                            <img ng-src="images/badge_{{badge.id}}.png" />

                            <div>
                                {{badge.name}}
                            </div>

                            <p>{{badge.description}}</p>

                    </ion-radio>

                    <label class="item item-input item-stacked-label">
                        <input type="text" placeholder="请输入你赠送此徽章的原因" name="comment" ng-model="MBMC.form.comment"
                               required/>
                    </label>

                    <button class="button button-block button-outline button-assertive" type="submit"
                            ng-disabled="MBMC_form.$invalid">
                        确定
                    </button>
                </div>
            </form>
        </section>
    </ion-content>
</ion-view>

