<ion-view view-title="{{MRC.title}}" class="badge-wall-page">
    <ion-content class="padding badge-scroll-leaf" scroll="true">
        <section class="record">
            <button class="button button-outline button-block button-assertive" ng-if="current != MRC.userid" ui-sref="badge.members.detail.badgeme({id: MRC.userid})">
                Badge !
            </button>

            <div class="item item-avatar" ng-repeat="record in MRC.recordList">
                <img class="badge-image" ng-src="images/badge_{{record.badge.id}}.png">
                <p>{{record.comment}}</p>
                <div ui-sref="badge.members.detail.badgeds({id: record.fromUser.userid || record.fromUser})">
                    <span class="f12px">{{record.dateCreated | date: 'yyyy-MM-dd'}}</span>
                    <span class="f12px">from</span>
                    <span class="f12px">{{record.fromUser.name || record.fromUser}}</span>
                </div>
            </div>

            <button class="button button-outline button-full button-assertive" ng-if="current == MRC.userid" ui-sref="badge.roll">
                查看徽章榜
            </button>

        </section>
    </ion-content>
</ion-view>
