<ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="My Badge" icon="ion-ribbon-a" ui-sref="badge.my">
        <ion-nav-view name="badge-members"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Badge Roll" icon="ion-ribbon-b" ui-sref="badge.roll">
        <ion-nav-view name="badge-comment"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Badge Members" icon="ion-android-people" ui-sref="badge.members">
        <ion-nav-view name="badge-list"></ion-nav-view>
    </ion-tab>

</ion-tabs>